img.col-12{
    cursor: pointer !important;
}

.modal {
    backdrop-filter: blur(7px) contrast(60%);
}

.modal-body{
    background-color: #211B19;
    padding: 40px !important;
    border-radius: 30px;
}

.modal-content{
    background-color: unset !important;
    border: none !important;
}

@media screen and (max-width:576px) {
    .modal-body{
        padding: 15px 8px 20px !important;
        border-radius: 10px !important;
    }
    .modal-content{
        width: 90% !important;
        left:  5%;
    }
    .modal-close{
        color: #DDBA00;
        font-weight: 100;
        font-size: 16px;
    }
}