.contact{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 8%;
}

.whatsapp{
    display: flex;
    background-color: #DDBA00;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    padding: 0 20px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.mail{
    display: flex;
    background-color: #DDBA00;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    padding: 6px 20px;
    border-radius: 30px;
    color: black;
    gap: 10px;
    cursor: pointer;
}

.mail-icon> img{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whats-icon{
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    /* height: 40px; */
}

E-mail{
    font-size: 20px;
    color: rgb(186, 186, 186);
}

.roll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: lighter;
}

#roll_text:hover{
    cursor: pointer;
}

#top:hover{
    cursor: pointer;
}

.modal-content{
    background-color: #DDBA00;
}

.form-control{
    background-color: #222222 !important;
    color: white !important;
    font-weight: 300 !important;
}

.modal-header> h1{
    color: rgb(0, 0, 0);
}

label{
    color: rgb(0, 0, 0);
}

.btn-primary{
    color: #ffffff;
}
.btn-primary:hover{
    background-color:#0336c2 ;
}

.btn-secondary:hover{
    background-color: #222222;
}
.btn-secondary{
    background-color: #222222;
}

textarea{
    background-color: #222222 !important;
    color: white !important;
}

@media screen and (max-width:600px) {
    .title5{
        padding-bottom: 20px;
    }
    .whatsapp{
        margin: 20px;
        font-size: 16px;
    }
    .contact{
        gap: 10px;
    }
    E-mail{
        font-size: 16px;
    }
}