.contact{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 8%;
}

.whatsapp{
    display: flex;
    background-color: #DDBA00;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    padding: 0 20px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    gap: 10px;
}

.mail-icon{
    display: flex;
    background-color: #DDBA00;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    padding: 6px 20px;
    border-radius: 30px;
    color: black;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
}

.mail-icon> img{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp>img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: auto;
}

.roll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: lighter;
}

#roll_text:hover{
    cursor: pointer;
}

#top:hover{
    cursor: pointer;
}

.modal-content{
    background-color: #DDBA00;
    padding: 50px 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

label{
    display: flex;
    flex-direction: column;
    color: #151515;
    opacity: 0.5;
}

input, textarea{
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #15151581;
    border-right: 1px solid #15151560;
    border-radius: 8px;
    padding-left: 4px;
}

#email-field{
    width: 100%;
    height: 30px;
}

#message-label{
    display: block;
    position: absolute;
    top: 0px;
    left: 4px;
    transition: top 0.3s;
}

#message-field{
    width: 100%;
}

#title-label{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 4px;
    transition: bottom 0.3s;
}

.modal-content> button{
    width: 170px;
    color: #000000;
}

.whatsapp> a{
    text-decoration: none;
    color: #151515;
}

@media screen and (max-width:600px) {
    .title5{
        padding-bottom: 20px;
    }
    .whatsapp{
        font-size: 16px;
        height: 35px;
    }

    .mail-icon{
        height: 35px;
    }

    .contact{
        gap: 20px;
    }
    E-mail{
        font-size: 16px;
    }

    .modal-content{
        width: 100%;
        padding: 50px 10px 20px;
    }
    input, textarea{
        border-right: 0;
    }

    .modal-content> button{
        width: 140px;
    }

    .btn-primary{
        font-size: 14px;
    }
    #email-field{
        font-size: 14px;
    }
    label{
        font-size: 14px;
    }
    .modal-close{
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: #252525;
        border-radius: 20px;
        width: 25px !important;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: unset;
        color: #DDBA00 !important;
    }
    .close-button{
        display: none;
    }
}

@media screen and (min-width:600px) {
    .modal-close{
        display: none;
    }
    .close-button{
        display: block;
        background-color: #252525 !important;
    }
}